.section{
  display: flex;
}

.left-section{
  width: 70%;
}

.logo img{
  width: 16px;
  margin: 4px;
}

#timedate{
  color: blue;
  padding: 5px;
}

#timedate a{
  color: blue;
}

.time-header{
  display: flex;
}

.menu-list{
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

#menu{
  text-decoration: underline;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

input{
  width: 450px;
  height: 24px;
  font-size: 16px;
  font-family: 'fifteen-2';

}

button{
  font-family: 'fifteen-2';
  font-size: 16px;
  height: 24px;
}

.des{
  margin: 20px 0;

}

.contact-title{
  display: flex;
}

.contact-title img{
  width: 20px;
}

.links{
  display: flex;
  flex-direction: column;
}

.tag{
  position: fixed;
  bottom: 50%;
  right: 10%;
  width: 1000px;
  display: flex;
} 

#member{ 
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 600px;
}


@media screen and (max-width: 1220px) {

}

@media screen and (max-width: 890px) {

}

@media screen and (max-width: 575px) {
  
}

@media screen and (max-width: 430px) {
 
}

@media screen and (max-width: 390px) {
  .section{
    display: block;
  }
  .left-section{
    width: 100%;
  }
  .header{
    font-size: 16px;
  }
  #menu{
    font-size: 20px;
  }
  .contact-title{
    margin-top: 20px;
  }
  .contact-title img{
    width: 12px;
  }
  .place-list{
    font-size: 12px;
  }
  li{
    font-size: 16px;
  }
  input{
    width: 90%;
    font-size: 10px;
  }
  .place-list{
    font-size: 20px;
  }
  .des{
    font-size: 16px;
  }
  .links{
    font-size: 16px;
  }
  .tag{
    display: none;
  }
  .footer{
    font-size: 16px;
  }
  #member{
    width: 300px;
  }
}