@font-face{
  font-family: 'taffy';
  src: url('/font/Taffy\ Regular.ttf');
}

.collection{
  display: flex;
  font-family: 'taffy';
}

.item{
  margin: 10px;
  width: 150px;
}


img{
  width: 150px;
}

.item-title{
  font-size: 20px;
}
