
@font-face{
  font-family: 'taffy';
  src: url('/font/Taffy\ Regular.ttf');
}


.list-of-books{
  font-family: 'taffy';
  text-align: center;
  margin: 30px;

}

.book{
  margin: 6px;
}

.book a{
  color: blue;
  text-decoration: underline;
  font-family: 'taffy';
}

img {
  width: 200px;
  position: fixed;
  display: none;
  pointer-events: none;
}
