.collection {
  font-family: "acumin-pro";
  display: flex;
  width: 10rem;
  margin-top: 1rem;
}

.item {
  margin-right: 2rem;
}

.item-image img {
  width: auto;
  height: 12rem;
}

.collection a {
  text-decoration: none;
}

.collection a:hover {
  color: #ff0000;
}

@media screen and (max-width: 780px) {
  .collection {
    flex-direction: column;
    margin-top: 2rem;
  }

  .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .item-image img {
    width: 100%;
    height: auto;
  }

  .item-title {
    width: 90vw;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
}
