

.item{
  display: flex;
  gap: 20px;
}

img{
  width: 700px;
}

.title{
  font-family: 'vel-2';
}

button{
  width: 300px;
  height: 48px;
  font-size: 24px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin: 20px 0;
  font-family: 'vel';
}

button:hover{
  background-color: grey;
}

.des{
  word-break: keep-all;
  margin-right: 60px;
}