/* ---이미지--- */


img{
  display: none;
  width: 350px;
}

.hover-key:hover+img{
  display: block;

}

.hover-img_001{
  position: fixed;
  top: 2rem;
  left: 70rem;
}

.hover-img_002{
  position: fixed;
  top: 10rem;
  left: 30rem;
}

.hover-img_003{
  position: fixed;
  top: 9rem;
  left: 45rem;
}

.hover-img_005{
  position: fixed;
  top: 20rem;
  left: 50rem;
}

.hover-img_006{
  position: fixed;
  top: 25rem;
  left: 75rem;
}

.hover-img_007{
  position: fixed;
  top: 28rem;
  left: 35rem;
}

.hover-img_008{
  position: fixed;
  top: 15rem;
  left: 85rem;
}